@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.container {
  position: absolute;
  top: 90vh;
  left: 50vw;

  @media (max-width: 800px) {
    display: none;
  }
}

.down-arrow {
  position: absolute;
  top: 90%;
  left: calc(50% - 10px);
  width: 0;
  height: 30px;
  transform: translate(-50%, -50%);
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  transform: rotateZ(45deg);
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}
